<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2"
   xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap rescap uap2">

  <Identity
    Name="0b109868-791d-4f7d-ad0c-75409233911a"
    Publisher="CN=CanFeng"
    Version="1.0.6.0" />
   
  <mp:PhoneIdentity PhoneProductId="0b109868-791d-4f7d-ad0c-75409233911a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ChatAI</DisplayName>
    <PublisherDisplayName>CanFeng</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
		<Extensions>

			<!--Specify which CLSID to activate when notification is clicked-->
			<desktop:Extension Category="windows.toastNotificationActivation">
				<desktop:ToastNotificationActivation ToastActivatorCLSID="1548C561-AE3C-460A-BBD7-A77EF186E66D" />
			</desktop:Extension>

			<!--Register COM CLSID-->
			<com:Extension Category="windows.comServer">
				<com:ComServer>
					<com:ExeServer Executable="ChatAI\ChatAI.exe" DisplayName="ChatAI" Arguments="----AppNotificationActivated:">
						<com:Class Id="1548C561-AE3C-460A-BBD7-A77EF186E66D" />
					</com:ExeServer>
				</com:ComServer>
			</com:Extension>

		</Extensions>
      <uap:VisualElements
        DisplayName="ChatAI"
        Description="一个很朴素的OpenAI 桌面端，暂不支持图片等解析"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClient"/>
    <uap2:Capability Name="spatialPerception"/>
    <uap:Capability Name="userAccountInformation"/>
    <Capability Name="internetClientServer"/>
    <Capability Name="allJoyn"/>
    <DeviceCapability Name="location"/>
  </Capabilities>
</Package>
